html {
    --background-col: rgb(19, 19, 22);
    --heading-col: rgb(247, 236, 220);
    --sub-heading-col: rgb(147, 149, 172);
}


body {
    background: var(--background-col);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

header h1 {
    font-size: 5rem;
    font-family: 'Amaranth', sans-serif;
    margin: .1em;
    color: var(--heading-col);
}

header h2 {
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    color: var(--sub-heading-col);
    text-align: left;
}

header img {
    max-width: 200px;
    border-radius: 100%;
}