html {
    --background-col: rgb(19, 19, 22);
    --main-col: rgb(209, 174, 110);
    --heading-col: rgb(219, 151, 95);
    --sub-heading-col: rgb(199, 207, 212);
    --sec-heading-col: rgb(170, 201, 241);
    --sec-heading-darker-col: rgb(71, 120, 183);
    --h4-col: rgb(124 150 195);
    --link-col: rgb(100, 123, 224);
    position: relative;
}

body {
    background: var(--background-col);
    color: var(--main-col);
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
}

#content-container {
    max-width: 1400px;
    margin: 0 auto;
}

main {
    padding: 0 40px;
}

a {
    color: var(--link-col);
    text-decoration: none;
}

a:visited {
    color: var(--link-col);
}

a:hover {
    text-decoration: underline;
}

*::selection {
    background-color: rgb(56, 56, 56);
    color: var(--heading-col)
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    margin: 0 auto;
}

h1 {
    font-size: 5rem;
    font-family: 'Amaranth', sans-serif;
    margin: .1em;
    color: var(--heading-col);
}

h2 {
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    color: var(--sub-heading-col);
    text-align: left;
}

h3 {
    color: var(--sec-heading-col);
    font-weight: 100;
    text-decoration: underline;
    font-size: 1.8rem;
}

h4 {
    color: var(--h4-col);
    font-weight: lighter;
    margin: 10px 0;
    font-style: italic;
}

header img {
    max-width: 200px;
    border-radius: 100%;
}

img {
    user-select: none;
}

/* Translation Button */
.translate {
    position: absolute;
    top: 20px;

    min-width: 6rem;
    padding: 5px 10px;

    color: rgb(26, 37, 56);

    font-family: 'Roboto', sans-serif;

    /* reset */
    background: var(--main-col);
    border: none;
}

/* Top Banner */
#top-banner {
    display: flex;
    justify-content: space-between;
}

#top-banner>section {
    width: 50%;
    padding: 2vh 0;
}

.small-detail {
    font-size: .7em;
}

/* Skills Section */

#skills {
    border-right: 1px solid white;
}

#top-banner ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.skill {
    list-style: none;
    margin: 20px;
}

.skill * {
    vertical-align: middle;
}

.skill-icon {
    height: 1em;
    filter: invert(1);
    margin: 0 .1em;
}

/* Related Skills Section */
#related-skills h3 {
    text-align: right;
}

#related-skills ul {
    flex-direction: row-reverse;
}

/* Contact Section */
#contact {
    margin-top: 100px;
    max-width: max(700px, 50vw);
}

#contact-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
}

#contact-container li {
    list-style: none;
    text-align: center;
    /* padding: 0 20px; */
    min-width: 200px;
}

/* Footer */
footer {
    text-align: right;
    margin-top: 80px;
    color: var(--sub-heading-col);
}